/*-------------------------------------------------------------------
Project             : Halvor – Creative Digital HTML5 Template
Version             : 1.0
Author              : EsensiFiksi
=====================================================================

[Table of contents]

01. Setup
02. Header - Navbar
03. Work
04. Service
05. About
06. News
07. Team
08. Footer
09. Contact
10. Blog Detail

==================================================================*/


/* ==================================================

01 - SETUP

=====================================================*/

//Font
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    background: #111111;
}


// main button

.button_su {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 20px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    transition-delay: .1s;
    transition-duration: 1s;

    &:hover {
        a {
            color: #fff;
            text-decoration: none;

        }

        box-shadow: 0px 0px 38px 0px rgba(233, 32, 79, .6);
    }
}

.su_button_circle {
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out;
     */
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}

.button_su_inner {
    display: inline-block;
    background: #e9204f;

    color: #F4F4F4;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px 20px;
    z-index: 10;

}

.button_text_container {
    position: relative;
    z-index: 10;
}

.explode-circle {
    animation: explode 1s forwards;
    -webkit-animation: explode 1s forwards;
}

.desplode-circle {
    animation: desplode .5s forwards;
    -webkit-animation: desplode .5s forwards;
}

@keyframes explode {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #c31a41;
    }

    100% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: #c31a41;
    }
}

@keyframes desplode {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: #c31a41;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #c31a41;
    }
}



// social button

.button_su_social {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition-delay: .1s;
    transition-duration: 1s;
    margin-bottom: 10px;

    &:hover {
        a {
            color: #fff;
            text-decoration: none;

        }

        box-shadow: 0px 0px 50px 0px rgba(233, 32, 79, .6);
    }
}

.su_button_circle_social {
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out;
     */
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}

.button_su_inner_social {
    display: inline-block;
    background: #111111;
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    transition: 400ms;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 10;
}

.button_text_container_social {
    position: relative;
    z-index: 10;

    i {
        margin-top: 13px;
    }
}


.explode-circle_social {
    animation: explode_social 1s forwards;
    -webkit-animation: explode_social 1s forwards;
}

.desplode-circle_social {
    animation: desplode_social 0.5s forwards;
}

@keyframes explode_social {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #e9204f;
    }

    100% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: #e9204f;
    }
}

@keyframes desplode_social {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: #e9204f;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #e9204f;
    }
}


// social button

.button_su_border {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid #fff;
    transition-delay: .1s;
    transition-duration: 1s;
    margin-bottom: 10px;

    &:hover {
        a {
            color: #fff;
            text-decoration: none;
        }

        border-color: #e9204f;
        box-shadow: 0px 0px 50px 0px rgba(233, 32, 79, .6);
    }
}


.su_button_circle_border {
    background-color: red;
    border-radius: 1000px;
    position: absolute;

    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out;
     */
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}

.button_su_inner_border {
    display: inline-block;
    padding: 10px 20px;
    color: #F4F4F4;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
    transition: 400ms;
    text-decoration: none;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 10;
}

.button_text_container_border {
    position: relative;
    z-index: 10;

    i {
        margin-top: 13px;
    }
}

.explode-circle_border {
    animation: explode_border 1s forwards;
    -webkit-animation: explode_border 1s forwards;
}

.desplode-circle_border {
    animation: desplode_border 0.5s forwards;
}

@keyframes explode_border {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #e9204f;
    }

    100% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: #e9204f;
    }
}

@keyframes desplode_border {
    0% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        background-color: #e9204f;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #e9204f;
    }
}



// service button

.button_su_service {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: #111111;

    transition-duration: 1s;
    margin-top: 30px;

    &:hover {
        p {
            color: #fff;

        }

        h3 {
            color: #fff;
        }

    }
}


.su_button_circle_service {
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out;
     */
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}

.button_su_inner_service {
    display: inline-block;
    padding: 20px 30px;
    color: #F4F4F4;

    font-size: 14px;

    text-align: center;
    transition: 400ms;
    text-decoration: none;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 10;
}

.button_text_container_service {
    position: relative;
    z-index: 10;

    i {
        margin-top: 13px;
    }
}

.explode-circle_service {
    animation: explode_service 1s forwards;
    -webkit-animation: explode_service 1s forwards;
}

.desplode-circle_service {
    animation: desplode_service 0.5s forwards;
    -webkit-animation: desplode_service 0.5s forwards;
}

@keyframes explode_service {
    0% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #e9204f;
    }

    100% {
        width: 1000px;
        height: 1000px;
        margin-left: -500px;
        margin-top: -500px;
        background-color: #e9204f;
    }
}

@keyframes desplode_service {
    0% {
        width: 1000px;
        height: 1000px;
        margin-left: -500px;
        margin-top: -500px;
        background-color: #e9204f;
    }

    100% {
        width: 0px;
        height: 0px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: #e9204f;
    }
}



.mouse-down {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #111;
    z-index: 2;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 20;
    bottom: -20px;
    left: 50%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.mouse-down.page {

    bottom: auto;
    top: -75px;

}

.mouse-down:before {
    content: '';
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3px;
    height: 3px;
    background-color: white;
    animation: scrollDown 2s infinite;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    z-index: 2;
}

.mouse-down:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 20px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 5px);
        -webkit-transform: translate(-50%, 5px);
        -moz-transform: translate(-50%, 5px);
        -ms-transform: translate(-50%, 5px);
        -o-transform: translate(-50%, 5px);
    }
}



h2 {
    font-weight: 900;
    color: #fff;
    font-size: 30px;
}



p {
    font-size: 16px;
    color: #bcbcbc;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.between {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* margin-top */
.mt-half {
    margin-top: 90vh !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-200 {
    padding-top: 200px !important;
}


/* margin bottom */
.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.title-main {
    h2 {
        margin: 0;
    }

    p {
        text-transform: uppercase;
        color: #e9204f;
    }
}

.title-btn {
    margin-top: 15px;

    a {
        font-weight: 700;
        color: #fff;
        font-size: 14px;
        background: transparent;
        border: 1px solid #fff;
        padding: 10px 20px 11px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;

        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 38px 0px rgba(233, 32, 79, .6);
            border: 1px solid #e9204f;
            background: #e9204f;
        }
    }
}

// PRELOADER

.over-all {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background: #000;
    mix-blend-mode: color;
    pointer-events: none;
    opacity: 0;
}

.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
}


.block-1 {
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: #111;
    position: fixed;
    z-index: 998;
}

.block-2 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #111;
    position: fixed;
    z-index: 999;
}

.logo-load {
    position: fixed;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    mix-blend-mode: difference;
    z-index: 9999;
}

/* ==================================================

01 - HEADER & navbars

=====================================================*/
nav {
    .container {
        position: relative;
    }

  
    width: 100%;
    position: fixed;
    top: 0;
    background: #111111;
    z-index: 99;

}

.navbars {
    ul {
        padding: 0;
        margin: 0;
    }

    color: #fff;
    padding: 15px 0;
    width: 100%;


    display: flex;
    align-items: center;
}

.navbars .logo {
    cursor: pointer;
    z-index: 98;
}


.navbars ul.links {

    margin-left: auto;
    margin-right: 0;
    list-style: none;
    display: flex;
    align-items: center;

    transition: 0.4s ease all, 0s ease background;

    li.active {
        a {
            color: #e9204f;

            &::after {
                color: #fff;
            }
        }

    }

    li {
        text-transform: uppercase;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease all;
        -webkit-transition: 0.4s ease all;
        -moz-transition: 0.4s ease all;
        -ms-transition: 0.4s ease all;
        -o-transition: 0.4s ease all;
        position: relative;


        a {
            transition: 0.4s ease all;
            -webkit-transition: 0.4s ease all;
            -moz-transition: 0.4s ease all;
            -ms-transition: 0.4s ease all;
            -o-transition: 0.4s ease all;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            font-size: 14px;

            &::after {
                content: attr(data-link);
                position: absolute;
                right: 0;
                top: 30px;
                opacity: 1;
                text-decoration: none;
                color: #e9204f;
                font-weight: 700;
                font-size: 14px;
                transition: 0.4s ease all;
                -webkit-transition: 0.4s ease all;
                -moz-transition: 0.4s ease all;
                -ms-transition: 0.4s ease all;
                -o-transition: 0.4s ease all;

            }

        }


    }

}

.normal-link {
    height: 20px;
    overflow: hidden;
    transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;

    &:hover {
        a {
            margin-top: -40px;

            &::after {
                margin-top: -30px;

            }
        }
    }
}




// RESPONSIVE

@media screen and (max-width: 750px) {
    .logo {
        margin-left: 20px;
    }

    nav {
        .container {
            padding: 0;
            max-width: 100% !important;
            margin: 0;
        }
    }

    * {
        transition: 0.4s ease all;
    }

    .navbars .right {
        height: 0;
        overflow: hidden;
    }


    .toggle {
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 99;

        transform: translateY(-50%);

        cursor: pointer;
        width: 40px;
        height: 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        >* {
            width: 80%;
            height: 2px;
            background: #e9204f;
            margin: 3px 0;
        }

    }

    .navbars.collapsed .toggle {

        .line1 {
            transform: rotate(-45deg) translate(-4px, 5px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }

    }




    .navbars .links {
        position: fixed;
        background: #111111;
        z-index: 40;
        top: 0;
        left: -100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        li {
            margin: 10px 0;
        }
    }

    .navbars.collapsed .links {
        left: 0;

        a {
            color: #fff;

            &::after {
                left: 50%;
                right: auto;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
            }
        }

        li {
            width: 100vw;
            padding: 0;
            text-align: center;

            &:hover a {
                color: #080808;
            }

        }


    }

    .navbars.collapsed .right {
        position: fixed;
        width: 50vw;
        text-align: center;
        height: auto;
        bottom: 40px;
        left: 50vw/2;
        transform: translateX(-50%);
        z-index: 45;
    }

    .navbars.collapsed {

        ~section {
            filter: blur(1px);
            opacity: 0.8;
        }

    }


}


.header {
    margin-top: 100px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        padding-top: 140px;
        padding-bottom: 140px;
    }
}

// header 2 
.header-2 {
    height: 70vh;
    position: relative;


    .container {
        position: relative;
    }

    .img-home-2 {
        position: absolute;
        z-index: 0;
        right: 20%;
        height: 100%;
        width: 100%;
        bottom: 0;
        background: url('../img/home-1.png') no-repeat right bottom;
        background-size: contain;
    }
}


// Header page
.header-page {
    margin-top: 100px;
    position: relative;


    .container {
        padding-top: 40px;
        padding-bottom: 0px;
    }
}

.lines-home-2 {
    position: absolute;
    height: 100%;
    width: 100vw;
    bottom: -100%;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: .1;

    img {
        margin-left: -300px;

    }
}

.lines-page {
    position: absolute;
    height: 250%;
    width: 100vw;
    bottom: -100%;
    z-index: -1;
    top: 0;
    left: 30%;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: .1;

    img {
        margin-left: -300px;
        margin-top: -300px;
    }
}

.lines {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    z-index: -1;
    left: 15%;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: .1;

    img {
        margin-left: -300px;
        margin-top: -300px;
    }
}

.sosmed {
    ul {
        list-style: none;


    }
}



.work,
.news,
.team {
    .container-fluid {
        padding: 0;
    }

    background: #111111;
}


/* ==================================================

03 - WORK

=====================================================*/

.header-detail-work {
    margin-top: 100px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;

    .container-fluid {
        position: relative;
        padding-top: 250px;
        padding-bottom: 250px;
    }

    .head-text {
        h2 {
            margin: 0 !important;
            font-size: 40px;
            letter-spacing: 2px;
        }

        p {
            margin: 0 !important;
        }
    }

    .lines {
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0;
        z-index: -1;
        left: 0;
        overflow: hidden;

        opacity: .1;

        img {
            margin-left: -300px;
            margin-top: -300px;
        }
    }
}

.work-page {
    background: #111111;
    position: relative;
}

.img-work-detail {
    position: relative;
    z-index: 2;

    margin-top: 30px;

    img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

.work-detail {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    z-index: -1;
    left: 0;
    overflow: hidden;
    opacity: 1;
}

.work-detail.bg-work-1 {
    background: url('../img/work-detail/1.jpg') center center no-repeat;
    background-size: cover;
}

.work-detail-text {
    margin-top: 30px;

    h3 {
        color: #fff;
        font-weight: 700;
    }

    p {
        margin: 10px 0 0 0;
    }
}

.bg-1 {
    background: url('../img/work-detail/1.jpg');
}

.work-desc-text {
    margin-top: 30px;

    p {
        margin-top: 10px;
    }

    h3 {
        color: #fff;
        font-weight: 700;
        margin: 0;
        font-size: 20px;
    }
}

.border-work {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    z-index: 0;
    opacity: 0;
    top: 10%;
    border: 1px solid #e9204f;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform-style: preserve-3d;
    transform: translateZ(50px) perspective(1000);
    -webkit-transform: translateZ(50px) perspective(1000);
    -moz-transform: translateZ(50px) perspective(1000);
    -ms-transform: translateZ(50px) perspective(1000);
    -o-transform: translateZ(50px) perspective(1000);
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
}


.work-text {
    transform-style: preserve-3d;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;

    h3 {

        color: #fff;
        font-weight: 700;
        font-size: 24px;
        margin: 0;
    }

    p {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
    }

    span {
        text-transform: uppercase;
        margin-top: -30px;
        position: absolute;
        opacity: 0;
        color: #bcbcbc;
        font-size: 12px;
        transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
    }

    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;

}

.img-item {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}

.work {
    z-index: 3;
    position: relative;
}

.detail-item {
    position: relative;
    z-index: 1;
}

.work-item {
    padding: 30px 0;
    transform-style: preserve-3d;
    z-index: 3;
    position: relative;

    &:hover {
        .work-text {
            left: 10px;
            transform: translateZ(100px) perspective(1000);
            -webkit-transform: translateZ(100px) perspective(1000);
            -moz-transform: translateZ(100px) perspective(1000);
            -ms-transform: translateZ(100px) perspective(1000);
            -o-transform: translateZ(100px) perspective(1000);

            p {
                opacity: 0;
                margin-top: 10px;
            }

            span {
                margin-top: -30px;
                opacity: 1;
            }


        }

        .border-work {
            opacity: 1;
        }
    }
}


/* ==================================================

04 - Service

=====================================================*/

.service-item {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: #191919;
    padding: 20px;
    margin-top: 30px;

    h3 {
        font-size: 16px;
        color: #fff;
    }

    p {
        color: #e9204f;
        margin: 0;
        line-height: 16px;
    }

    .service-icon {
        position: absolute;
        top: 50px;
    }

    .service-text {
        margin-left: 70px;
    }
}

.service {
    .container {
        position: relative;
    }

    position: relative;
    overflow: hidden;

    .lines {
        position: absolute;
        height: 100%;
        width: 80vw;
        top: 0;
        z-index: -1;
        left: -10%;
        overflow: hidden;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        opacity: .1;

        img {
            margin-left: -300px;
            margin-top: -300px;
        }
    }
}

.service-page-item {
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    margin-top: 30px;


    .img-service-page {
        img {
            width: 25% !important;
        }
    }

}

.service-page-text {
    margin-top: 20px;

    h3 {
        font-size: 16px;
        color: #e9204f;
        font-weight: 700;
        transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
    }

    p {
        transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
    }

}



/* ==================================================

05 - ABOUT

=====================================================*/
.img-page-about {
    overflow: hidden;


    img {
        transition: all ease-in-out .2s;
        -webkit-filter: grayscale(100%);
        /*Safari6.0-9.0*/
        filter: grayscale(100%);
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    &:hover {
        img {
            -webkit-filter: grayscale(0%);
            /*Safari6.0-9.0*/
            filter: grayscale(0%);
        }
    }
}

.img-about {
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &::after {
        content: '';
        height: 90%;
        width: 70%;
        background: #e9204f;
        overflow: hidden;
        position: absolute;
        right: -5px;
        bottom: -15px;
        z-index: -1;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

.about-text {
    padding-left: 30px;

    h2 {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }
}

.about-page-text {
    margin-top: 30px;

    h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }
}

.partner-img {
    margin-top: 30px;
    opacity: .5;
}


/* ==================================================

06. News

=====================================================*/
.news-text {
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    position: absolute;
    bottom: 20px;
    left: 20px;

    p {
        margin: 0;
        font-size: 10px;
    }

    h3 {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
    }

    img {
        width: 30px !important;
        position: absolute;
        opacity: 0;
        transition: all ease-in-out .2s;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -ms-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s;
    }
}

.news {
    z-index: 2;
}

.main-blog {
    .news-item {
        margin-top: 30px;
    }
}

.news-item {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover {
        .bg-hover {
            opacity: 1;
            top: 0;
        }

        .news-text {
            bottom: 30px;

            img {
                opacity: 1;
            }
        }
    }

    img {
        overflow: hidden;

    }

}

.bg-hover {
    background: rgb(233, 32, 79);
    background: linear-gradient(0deg, rgba(233, 32, 79, 1) 0%, rgba(233, 32, 79, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    pointer-events: none;
    opacity: 0;
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.news-slider .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}



/* ==================================================

07 - TEAM

=====================================================*/


.team-text {
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    position: absolute;
    bottom: -10px;
    left: 20px;
    z-index: 4;

    p {
        margin: 0;
        font-size: 13px;
        color: #fff;
    }

    h3 {
        font-size: 24px;
        margin: 0;
        color: #fff;
        font-weight: 700;
    }

    ul {
        opacity: 0;
        list-style: none;

        li {
            display: inline;

            a {
                color: #fff;
                font-size: 13px;
                margin-right: 10px;
            }
        }
    }


}

.team-item {

    &:hover {
        .bg-hover-team {
            opacity: 1;
            top: 0;
        }

        .team-text {
            bottom: 10px;

            ul {
                opacity: 1;
            }
        }

        img {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
        }
    }

    img {
        overflow: hidden;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);

    }

}

.bg-hover-team {
    background: rgb(233, 32, 79);
    background: linear-gradient(0deg, rgba(233, 32, 79, 1) 0%, rgba(233, 32, 79, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    border-radius: 20px;
    pointer-events: none;
    opacity: 0;
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.team-slider .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}


/* ==================================================

08 -FOOTER

=====================================================*/

footer {

    padding: 50px 0 30px;
    background: url('../img/bg-footer.jpg') center center no-repeat;
    background-size: cover;
}

.to-touch {
    position: relative;
    padding: 50px 0 150px;

    h2 {
        margin: 0;
    }

    p {
        color: #e9204f;
    }
}

.nav-footer {
    margin-top: 30px;

    ul {
        list-style: none;
    }

    li {
        display: inline;
        margin: 20px;

        a {
            color: #fff;
            font-size: 14px;
            transition: all ease-in-out .4s;
            -webkit-transition: all ease-in-out .4s;
            -moz-transition: all ease-in-out .4s;
            -ms-transition: all ease-in-out .4s;
            -o-transition: all ease-in-out .4s;

            &:hover {
                text-decoration: none;
                opacity: .4;
            }
        }
    }
}

.social-footer {
    ul {
        list-style: none;
    }

    li {
        display: inline;
        margin-right: 20px;

        a {
            color: #e9204f;
            font-size: 16px;
            transition: all ease-in-out .4s;
            -webkit-transition: all ease-in-out .4s;
            -moz-transition: all ease-in-out .4s;
            -ms-transition: all ease-in-out .4s;
            -o-transition: all ease-in-out .4s;

            &:hover {
                text-decoration: none;
                opacity: .4;
            }
        }
    }
}

.copy {
    p {
        font-size: 12px;
    }
}

.bg-footer {
    position: absolute;
    height: 200%;
    width: 100%;
    top: -100%;
    left: 0;
    z-index: 0;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: .1;

    img {
        margin-left: -300px;

    }
}



/* ==================================================

09 - Contact

=====================================================*/
.contact-item {
    margin-top: 30px;
    padding: 40px 20px;
    border-radius: 30px;
    background: #111111;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
    }

    a {
        color: #bcbcbc;

        &:hover {
            text-decoration: none;
            opacity: .5;
        }
    }
}

.contact {
    img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

/* ==================================================

10 - Blog Detail

=====================================================*/

.head-text {
    h4 {
        color: #e9204f;
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
}

.blog-details {
    background: #111111;
    position: relative;

    h4 {
        color: #fff;
        font-style: italic;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 30px;
    }

    hr {
        border-top: 1px solid #e9204f;
        width: 50%;
        margin-left: 25%;
    }

    ul {
        padding-left: 30px;

        li {
            color: #bcbcbc;
            margin-bottom: 10px;
        }
    }
}



.blog-detail {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    z-index: -1;
    left: 0;
    overflow: hidden;
    opacity: 1;

}

.blog-detail.bg-blog-1 {
    background: url('../img/blog-detail/1.jpg') center center no-repeat;
    background-size: cover;
}